---
layout: page
title: "About"
description: "路漫漫其修远兮，吾将上下而求索。"
header-img: "img/about-bg.jpg"
---

<!-- 个人简介 -->
<div>

    <blockquote><p>冰冻三尺 非一日之寒<br>
    积土成山 非斯须之作</p></blockquote>

    <p>大家好，我是<strong>萌之神唑</strong>，一个普通人。</p>

    <p>生活、工作之余，我一直在充实自己。</p>

    <p>这是我搭建的个人博客。希望能分享给大家一些有趣的东西。</p>

    <p></p>
    
</div>

                <!-- Valine 评论框 start -->
                {% if site.valine.enable %}
                      {% include valine_comments.html %}
            {% endif %}
	              <!-- Valine 评论框 end -->