<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    <script>
      window.onload = function(){
          // 所有文章内 a 标签都为新建窗口打开
           var aList = document.getElementsByTagName('a');// 获取所有的标签 a
          for(var i=0;i<aList.length;i++){
             aList[i].target='_blank';// 定义成打开新窗口
          }
      }
      
<!-- Image to hack wechat -->
<img src="/img/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
